@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <label asp-for="StartFrom">Add the start date:</label>
    <input type="Date" asp-for="StartFrom">
    <label asp-for="DueAt">Add the due date:</label>
    <input type="Date" asp-for="DueAt">
    <label asp-for="NumberOfDays">NumberOfDays:</label>
    <input type="Number" asp-for="NumberOfDays">
    <button type="submit">Add</button>
</form>


    